<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/intro_index.css " />
    <script src="{{url_for('static',filename='js/intro_index.js')}}"></script>
  </head>
  <body>
    <h1>❄Adversarial Attack Threat Analysis for AI Solutions❄</h1>
    <div id="main_intro">
      <h2
        style="
          margin-bottom: 3rem;
          text-align: center;
          margin: 1rem 0;
          padding: 1rem 0;
          color: rgb(32, 59, 133);
        "
      >
        Training that supports AI solution security enhanced against adversarial
        generative attacks
      </h2>
      <div class="content">
        <a href="/page/regression_coin"
          >Practical Implementation of a Multiple Linear Regression Model
          (Cryptocurrency)</a
        >
      </div>
      <div class="content">
        <a
          >Hands-On Natural Language Processing Model Implementation (Shopping
          Reviews)</a
        >
      </div>
    </div>
  </body>
</html>
